body {
  text-align: center;
}

.btn {
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.gameFlash {
  background-color: white;
}

.userFlash {
  background-color: greenyellow;
}
